.news-preview {
    position:relative;
    display: flex;
    padding: 40px 0;
    gap: 15px;
    width:70%;
    border-bottom: 1px solid black;
    
}

.news-preview a{
    cursor:pointer;
    color:#fc035a;
}

.news-p-img {
    border: 1px solid #D9D9D9;
    color: black;
    transition: all .6s ease;
}

.news-p-img img {
    width: 150px;
}

.news-p-img:hover{
    cursor:pointer;
    opacity: .7;
}

.news-p-info{
    width:65%;
}

.news-p-info a:hover {
    text-decoration: underline;
}

.news-p-info h3{
    color:#fc035a;
    font-size: 1em;
    word-wrap:break-word;
}

.news-p-info p{
    font-size: .9em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top:10px;
}

.date {
    font-size: .7em;
    opacity: .5;
    
}

.news-preview .a-button{
    right:0;
    position:absolute;
    bottom:10px;
}